proposal: net/idna, net/idna/uts46: add IDNA support to std

The [golang.org/x/net/idna](http://golang.org/x/net/idna) package converts internationalized domain names (IDNs) between their ASCII and Unicode representations.

A very quick summary of IDNA: A domain name is a name such as "go.dev" or "www.golang.org". DNS operates on domain names using a limited set of ASCII characters. IDNA ("Internationalized Domain Names for Applications") is a system which permits translating non-ASCII domain names into an ASCII-only form suitable for use in DNS. For example, the Unicode name "gö.dev" becomes the ASCII name "xn--g-1ga.dev".

The IDNA system consists of a number of interlocking standards. Some which are particularly relevant to this proposal are:

- Unicode (latest version 17.0.0) defines characters and their properties.  
- Punycode ([RFC 3492](https://datatracker.ietf.org/doc/html/rfc3492)) is a reversible transformation between Unicode and ASCII strings.
- IDNA 2003 is an older, superseded standard which is now only of historical interest. IDNA 2003 was tied to Unicode version 3.2.  
- IDNA 2008 defines the low-level translation between ASCII and Unicode names. Unlike IDNA 2003, it does not define normalization such as case folding. IDNA 2008 is not tied to any Unicode version.
- [UTS 46](https://unicode.org/reports/tr46/) builds on IDNA 2008, and fills in gaps between IDNA 2003 and 2008\. It adds a mapping phase which performs case folding and other normalization, as well as support for symbols and punctuation. It provides a customizable translation and validation algorithm controlled by a set of flags. For example, the *CheckHyphens* flag disallows hyphens at the start and end of a name, and in both the third and fourth positions.  
- The [WHATWG URL Standard](https://url.spec.whatwg.org/) builds on UTS 46. It specifies a parsing algorithm which provides specific values for the TR 46 flags, and adds or removes various validity checks. For example, WHATWG URL rejects names which decode to the empty string, but permits invalid all-ASCII names such as "xn-go.dev".

The `x/net/idna` package provides support for IDNA 2003, IDNA 2008, and UTS 46. It is used by `net/http` to provide support for IDNs in URLs (and is therefore vendored into std).

I propose that we move our IDNA implementation into the standard library.

I further propose that we take advantage of the move to make some amendments to the package API.

The `net/idna` package provides a simple, clear, easy-to-use, hard-to-misuse API for converting between ASCII and Unicode domain names. It implements relevant portions of the WHATWG URL Standard.

```go
// Package idna provides support for internationalized domain names (IDNs).
// It provides functions to convert domain names between a Unicode presentation form
// (for example: "ʕ◔ϖ◔ʔ.go.dev") and an ASCII-only form suitable for use in the DNS
// (for example: "xn--hpab11g922gba.go.dev").
//
// All functions in this package accept inputs in either form.
//
// # Compatibility
//
// The behavior of this package may change between major versions of Go.
// It currently implements portions of the [WHATWG URL] living standard,
// and new major versions of Go may support newer versions of that standard,
// or intentionally diverge from the standard.
//
// Within a major version of Go, this package's behavior will not change
// other than to fix security issues or serious problems with no workaround.
//
// [WHATWG URL]: https://url.spec.whatwg.org/
package idna

// Display converts a domain name to Unicode.
//
// Display does not validate names. When provided with an invalid name, it returns
// the name unchanged.
//
// For example:
//	Display("go.dev") = "go.dev"
//	Display("ʕ◔ϖ◔ʔ.go.dev") = "ʕ◔ϖ◔ʔ.go.dev"
//	Display("xn--hpab11g922gba.go.dev") = "ʕ◔ϖ◔ʔ.go.dev"
//
// Display is consistent with the WHATWG URL [domain to Unicode] algorithm.
// [domain to Unicode]: https://url.spec.whatwg.org/#concept-domain-to-unicode
func Display(name string) string

// Lookup converts a domain name to ASCII.
//
// Lookup returns successfully when the name is a IPv4 address
// or an IPv6 address surrounded by square brackets.
//
// For example:
//	Lookup("go.dev") = "go.dev"
//	Lookup("ʕ◔ϖ◔ʔ.go.dev") = "xn--hpab11g922gba.go.dev"
//	Lookup("xn--hpab11g922gba.go.dev") = "xn--hpab11g922gba.go.dev"
//	Lookup("127.0.0.1") = "127.0.0.1"
//	Lookup("[2001:db8::]") = "[2001:db8::]"
//
// Lookup implements portions of the WHATWG URL [host parser].
//
// [host parser]: https://url.spec.whatwg.org/#concept-host-parser
func Lookup(name string) (string, error)

// DisplayAppend appends the Unicode form of a domain name to b.
//
// Its behavior is identical to [Display].
func DisplayAppend(b, name []byte) []byte

// LookupAppend appends the ASCII form of a domain name to b.
//
// Its behavior is identical to [Lookup].
func LookupAppend(b, name []byte) ([]byte, error)
```

The `net/idna/uts46` package implements UTS 46. It is a lower-level building block used by `net/idna`, and is suitable for use by anyone implementing a standard that builds on UTS 46. Most users should use `net/idna`, not `net/idna/uts46`.

```go
// Package uts46 implements [Unicode Technical Standard #46] (UTS #46).
//
// This is a lower-level package.
// Most users should use the [net/idna] package.
//
// # Compatibility
//
// This package currently implements version 17.0.0 of UTS #46.
// Future major versions of Go may implement future versions of the standard.
//
// [Unicode Technical Standard #46]: https://unicode.org/reports/tr46/
package uts46

// Options configure ToASCII and ToUnicode.
type Options struct {
        // UseSTD3ASCIIRules requires that ASCII characters in labels be
        // lowercase letters (a-z), digits (0-9), or hyphens ("-").
        //
        // See [UTS #46, Section 2.2].
        //
        // [UTS #46, Section 2.2]: https://unicode.org/reports/tr46/#STD3_Rules
        UseSTD3ASCIIRules bool

        // CheckHyphens requires that a label may neither begin with a hyphen,
        // end with a hyphen, or contain a hyphen in both the third and fourth positions.
        //
        // See [UTS #46, Section 4.1].
        //
        // [UTS #46, Section 4.1]: https://unicode.org/reports/tr46/#Validity_Criteria
        CheckHyphens bool

        // CheckBidi requires that labels in Bidi domain names satisfy
        // the Bidi Rule from [RFC 5893, Section 2].
        //
        // See [UTS #46, Section 4.1].
        //
        // [RFC 5893, Section 2]: https://datatracker.ietf.org/doc/html/rfc5893#section-2
        // [UTS #46, Section 4.1]: https://unicode.org/reports/tr46/#Validity_Criteria
        CheckBidi bool

        // CheckJoiners requires that labels satisfy the ContextJ rules from [RFC 5892].
        //
        // See [UTS #46, Section 4.1].
        //
        // [RFC 5898]: https://datatracker.ietf.org/doc/html/rfc5892
        // [UTS #46, Section 4.1]: https://unicode.org/reports/tr46/#Validity_Criteria
        CheckJoiners bool

        // VerifyDNSLength requires that ASCII domain names,
        // excluding the root label and its dot,
        // must have a length between 1 and 253;
        // and that the length of each label be from 1 to 63.
        //
        // VerifyDNSLength only affects ToASCII, not ToUnicode.
        //
        // See [UTS #46, Section 4.2].
        //
        // [UTS #46, Section 4.1]: https://unicode.org/reports/tr46/#STD3_Rules
        VerifyDNSLength bool
}

// ToASCII implements the ToASCII operation defined in [UTS #46 Section 4.2].
//
// [UTS #46 Section 4.2]: https://unicode.org/reports/tr46/#ToASCII
func ToASCII(name string, opts Options) (string, error)

// ToUnicode implements the ToUnicode operation defined in [UTS #46 Section 4.3].
//
// [UTS #46 Section 4.3]: https://unicode.org/reports/tr46/#ToUnicode
func ToUnicode(name string, opts Options) (string, error)

// AppendASCII is identical to [ToASCII], but appends its output to b.
func AppendASCII(b, name []byte, opts Options) ([]byte, error)

// AppendUnicode is identical to [ToUnicode], but appends its output to b.
func AppendUnicode(b, name []byte, opts Options) ([]byte, error)
```

The following discusses various design decisions.

## Split x/net/idna into net/idna and net/idna/uts46

Much of the `x/net/idna` package API is highly technical. It has many configuration options, and options are often defined in terms of specific standards. For example: "CheckJoiners sets whether to check the ContextJ rules as defined in Appendix A of RFC 5892 \[....\]"

The `x/net/idna` package provides simpler APIs. In particular, `idna.Lookup.ToASCII` converts a name to ASCII suitable for use in the DNS and `idna.Display.ToUnicode` converts a name to Unicode suitable for display. However, these APIs are not very discoverable. Because they are defined in solely terms of IDNA 2008 and UTS 46, they have gaps. For example, `idna.Lookup.ToASCII("aa--bb.go.dev")`  returns an error despite this being an entirely valid name in the DNS.

Most users of `x/net/idna` just want to convert a user input to something which can be passed to `net.Dial`, or convert a name found in the DNS to Unicode for display. They do not care about the distinction between Unicode, UTS 2008, and UTS 46, and they shouldn't have to. We should provide a package which supports these users. (Lest this paragraph sound dismissive, let me assure you that I count myself as one of these users.)

This simpler package requires access to a UTS 46 implementation. Given that we need a UTS 46 implementation, we have an existing one in `x/net/idna`, and UTS 46 provides a clear API surface (ToASCII and ToUnicode operations with a defined set of inputs), we should provide a package for this purpose. Focusing this package on UTS 46 specifically gives us a defined scope for what to provide.

Thus, two packages: `net/idna` is the simple one most users will want, and `net/idna/uts46` is the lower-level building block for advanced use cases.

## Package naming

IDNA exists at the intersection of networking (DNS) and Unicode. Both `net/idna` and `unicode/idna` seem like reasonable names for an IDNA package.  Looking at current packages under net/ and unicode/, I think networking takes precedence. The only packages under unicode/ at the moment are `unicode`, `unicode/utf8`, and `unicode/utf16`. In my opinion, IDNA support fits more naturally adjacent to `net/url`.

## Use of WHATWG URL

The `net/idna` package uses the WHATWG URL Standard as its basis. While domain names can appear in many contexts other than URLs, WHATWG URL has a well-reasoned and principled approach to converting domain names between a user-facing presentation layer and the DNS.

Using WHATWG URL is consistent with browser behavior (the browser URL bar being the most common way humans interact with DNS names) and gives us a clear rubric for evaluating the correctness of `net/idna`.

## Errors and validation in `net/idna`

The `idna.Lookup` function returns an error and the `idna.Display` function does not.

This follows the lead of WHATWG URL, which permits host parsing to fail but not conversion of a domain name to Unicode. In the case of WHATWG URL, domain names can only originate as a result of host parsing, and so have already passed through validation. That is not the case in `net/idna`, which operates on arbitrary strings.

The intended use of `Display` is to convert a string to a form suitable for display to a user. If this string contains an invalid name (such as "x.127.0.0.1"), we probably still want to display it. We could return an error from `Display`, but it isn't clear to me what the caller can usefully do with that error–are we saying that the name is so invalid that it should be hidden from view?

In contrast, `Lookup` rejects names which should not be resolved, such as Unicode inputs which cannot be converted to ASCII.

WHATWG URL draws a distinction between a "failure" which terminates an operation, and a "validation error" which logs a warning but does not terminate. For example, parsing the name "a-" causes a validation error (warning) from the trailing hyphen, but successfully returns "a-". The `net/url` package ignores validation failures, since we have nothing useful to do with them.

## Transitional processing

UTS 46 was originally designed to support the transition between IDNA 2003 and IDNA 2008\. As part of that support, it includes a now-deprecated "transitional processing" mode. (As an example: The name "Bloß.de" maps to "[bloss.de](http://bloss.de)" under transitional processing, and "bloß.de" under non-transitional processing.)

The transition to IDNA 2008 is complete, transitional processing is deprecated, and there is no reason to support it any more. The new `net/idna/uts46` package will not include support for it.

## Features not preserved from `x/net/idna`

The proposed new packages focus on two specific use cases. Features of `x/net/idna` which don't fit into those cases are not part of this proposal.

The `Punycode` profile performs basic conversion between ASCII and Unicode names without character mapping and minimal validation. The intent for this appears to be to allow basic conversion with less CPU overhead and no need for sizable Unicode tables. The latter part of this intent was not realized: `x/net/idna` always links in its Unicode tables. It is not clear what the purpose of this profile is; unvalidated conversion is hazardous in the general case, and systems which require performance should operate strictly on ASCII names. This feature is not something `net/idna` or `net/idna/uts16` should provide; if it makes sense to support, that should be a separate proposal for a distinct package (perhaps `net/idna/punycode`).

The `Registration` profile implements a portion of RFC 5891's registration protocol, which defines a model for registries to use when registering new domains. This is well out of scope for this proposal, and for the standard library.

&nbsp;

**Related Issues**

 - [net: figure out IDNA Punycode story #13835 (closed)](https://github.com/golang/go/issues/13835) <!-- score=0.85771 -->
 - [net/http: update the IDNA implementation from x/text #17268 (closed)](https://github.com/golang/go/issues/17268) <!-- score=0.85274 -->
 - [net/http, x/net/idna: punycode labels ending with hyphen (xn--example-) should be rejected per updated UTS-46 #74330](https://github.com/golang/go/issues/74330) <!-- score=0.84410 -->
 - [proposal: net: export isDomainName #31671](https://github.com/golang/go/issues/31671) <!-- score=0.83521 -->
 - [net/http: use nontransitional IDNA processing #46001 (closed)](https://github.com/golang/go/issues/46001) <!-- score=0.83479 -->
 - [x/net/idna: no documentation for what \`StrictDomainName=false\` ruleset accepts #76804](https://github.com/golang/go/issues/76804) <!-- score=0.82933 -->
 - [x/net/idna: apply nameprep normalization algorithm #16501 (closed)](https://github.com/golang/go/issues/16501) <!-- score=0.82818 -->
 - [x/net/idna: add pre-defined profile for non-transitional IDNA2008 #47510 (closed)](https://github.com/golang/go/issues/47510) <!-- score=0.82476 -->

**Related Discussions**

 - [Should package idna be moved from go.net to main repo?](https://groups.google.com/g/golang-nuts/c/itUBfc_SWOw) <!-- score=0.85772 -->
 - [\[go-nuts\] IDN support for Go, project announcement (go-idn)](https://groups.google.com/g/golang-nuts/c/Xmc_3EZnPwc) <!-- score=0.83249 -->

<sub>(Emoji vote if this was helpful or unhelpful; more detailed feedback welcome in [this discussion](https://github.com/golang/go/discussions/67901).)</sub>


I like the general idea of this.

Given that the behavior of the proposed `idna` package is derived from the WHATWG URL spec instead of from the underlying Unicode specs, and given that its API is relatively small, I'd consider just adding it directly to `net/url` to reinforce that its primary purpose is for use as part of handling URLs.

Of course that doesn't mean that folks couldn't still use it for non-URL needs if they want, but I personally find it a little surprising to have a package called "idna" that actually implements a downstream spec, and directly associating it with URL parsing more clearly justifies it following the living standard of "however browsers currently handle URLs" even if the authority for that drifts away from WHATWG in future.

Keeping the lower-level package named `uts46` instead of `idna` seems like a good choice regardless, though.


Bikeshed: the "lookup" operation described in RFC 5891 actually does a DNS name lookup (section 5.6). The "lookup" operation in this proposal is just a string to string conversion. I think using the name "lookup" for this proposal is somewhat confusing in the context of DNS, where "lookup" generally implies doing an actual DNS lookup. I'm not sure what the name should be, though. Perhaps `Encode`?

There are two reasons for this proposal not touching `net/url`:

First, IDNA name translation isn't limited to URLs. It's perfectly reasonable to want to `net.Dial` a non-ASCII name, or to take a DNS name with an xn-- component and translate it into Unicode. `net/url` isn't the right place to put the general-purpose ToASCII/ToUnicode functionality.

Second, while IDNA name translation *is* highly relevant to URLs, I don't want to make changes to the `net/url` API without careful consideration of what that API should look like. Right now, `net/url` documents itself as "generally follows RFC 3986". It's increasingly clear that many, probably most, use cases for `net/url` would be better served by compliance with the WHATWG URL Standard. I don't know what that means for the `net/url` API, but I really don't want us to try to align `net/url` and WHATWG on an ad hoc basis.

> I think using the name "lookup" for this proposal is somewhat confusing in the context of DNS, where "lookup" generally implies doing an actual DNS lookup.

The name "Lookup" is intended to convey "convert to the form one should use for lookup", but that might not suffice. The fact that `Lookup` returns a string, and not a `net.Addr`, might be a hint, but again perhaps not enough of one.

Would `idna.ToASCII` and `idna.ToUnicode` be clearer? I avoided those names because `x/net/idna` uses them for functions which ~nobody should ever use (unvalidated Punycode translation), and it seemed safer to pick something else entirely. Also, using different names for `net/idna` and `net/idna/uts46` seemed like it would help distinguish the packages: `uts46.ToASCII` is the ToASCII operation defined in TR 46, `net/idna.Lookup` is a higher-level operation producing the right string to use for lookup operations.

ForLookup / ForDisplay ?

> ```go
> func ToASCII(name string, opts Options) (string, error)
> ```

In my opinion, having to pass an empty `Options` struct when we don't need any of those options isn't ideal, even if https://github.com/golang/go/issues/12854 lands as planned in Go 1.28.

A parallel comes to mind: `net.ListenAndServe`. If you were to redesign that function today, would you still require callers to pass `nil` to indicate that they wish to rely on `net.DefaultServeMux`?

> In my opinion, having to pass an empty Options struct when we don't need any of those options isn't ideal, even if #12854 lands as planned in Go 1.28.

In the case of UTS 46, I expect all callers to need to pass options. For example, WHATWG URL defines:

> The domain parser ToASCII algorithm, given a scalar value string domain and a boolean beStrict, returns the result of running Unicode ToASCII with domain_name set to domain, CheckHyphens set to beStrict, CheckBidi set to true, CheckJoiners set to true, UseSTD3ASCIIRules set to beStrict, Transitional_Processing set to false, VerifyDnsLength set to beStrict, and IgnoreInvalidPunycode set to false.

The UTS 46 operations are fiddly and technical, and the only time you should need to use them directly is when implementing some other standard defined in terms of UTS 46. The proposed idna package is the simple user-facing API; it's not a bad thing if the uts46 package API is a bit less ergonomic.

That does invite the question of whether we should expose the uts46 package at all. There are a few good reasons to do so:
- The existing x/net/idna already exposes these operations, and it's better to support them with a clearer API.
- We need a UTS 46 implementation, so not providing a public API doesn't save much in the way of work or maintenance burden.
- The API is fairly obvious: UTS 46 defines specific operations, and the uts46 package exposes those exact operations.