crypto/tls: RFC 9266: Channel Bindings for TLS 1.3 support

Can you add the support of RFC 9266: Channel Bindings for TLS 1.3?
- https://datatracker.ietf.org/doc/html/rfc9266

Channel Bindings for TLS: https://datatracker.ietf.org/doc/html/rfc5929

- XEP-0388: Extensible SASL Profile: https://xmpp.org/extensions/xep-0388.html
- XEP-0440: SASL Channel-Binding Type Capability: https://xmpp.org/extensions/xep-0440.html
- XEP-0474: SASL SCRAM Downgrade Protection: https://xmpp.org/extensions/xep-0474.html
- XEP-0480: SASL Upgrade Tasks: https://xmpp.org/extensions/xep-0480.html

Little details, to know easily:
- tls-unique for TLS =< 1.2
- tls-server-end-point
- tls-exporter for TLS = 1.3

Thanks in advance.

CC @golang/security @FiloSottile 

I guess this will be added to the crypto/tls package? What would the support look like? Thanks.

@cherrymui: Yes :)

It is linked to:
- https://github.com/golang/go/commit/fce63888cecd22dfc01bf1b6dcb5a1429aecbc17
- https://github.com/golang/go/issues/18842 + https://github.com/golang/go/commit/7bd968fbfdfd943d8bfc3f6f48b47c5fe990f9ba
- https://github.com/golang/go/commit/039c2081d1178f90a8fa2f4e6958693129f8de33
- https://github.com/golang/go/search?q=tlsunique
- https://github.com/golang/go/search?q=tls+unique
- https://github.com/golang/go/search?q=tls+binding

cc: @agl, @andres-erbsen, @FiloSottile, @codesenberg, @seankhliao.

Dear all,

I have update the main description about tls-unique, tls-server-end-point, tls-exporter and I have added XEP-0388/XEP-0440/XEP-0474 links.

I think that you have seen the jabber.ru MITM:
- https://notes.valdikss.org.ru/jabber.ru-mitm/
- https://snikket.org/blog/on-the-jabber-ru-mitm/
- https://www.devever.net/~hl/xmpp-incident
- https://blog.jmp.chat/b/certwatch

RFC 9266, Section 2, says

> "tls-exporter" uses Exported Keying Material (EKM), which is already widely exposed by TLS implementations

Indeed, we already support EKM via `ConnectionState.ExportKeyingMaterial`.

What do you need us to change in crypto/tls?

@FiloSottile: Thanks for your answer but there is not an announcement in code: RFC5929 / RFC9266
And I do not find:
- tls-unique
- tls-server-end-point
- tls-exporter

Example GnuTLS:
- tls-unique: https://gitlab.com/search?search=tls-unique&nav_source=navbar&project_id=179611&group_id=121613&search_code=true&repository_ref=master
- tls-exporter: https://gitlab.com/search?search=tls-exporter&nav_source=navbar&project_id=179611&group_id=121613&search_code=true&repository_ref=master
- tls-server-end-point: https://gitlab.com/search?search=tls-server-end-point&nav_source=navbar&project_id=179611&group_id=121613&search_code=true&repository_ref=master
- rfc5929: https://gitlab.com/search?search=rfc5929&nav_source=navbar&project_id=179611&group_id=121613&search_code=true&repository_ref=master
- rfc9266: https://gitlab.com/search?search=rfc9266&nav_source=navbar&project_id=179611&group_id=121613&search_code=true&repository_ref=master

Is there an update on this?

I think the crypto/tls library already provides support for everything needed to perform channel binding.
 

- "tls-unique" appears to be supported here: https://github.com/golang/go/blob/252fbaf30fab5542f959d3ead59258440a0e0903/src/crypto/tls/common.go#L318
- "tls-server-end-point", according to the RFC, simply requires using the hash of the server TLS certificate.
- "tls-exporter" appears to be supported here: https://github.com/golang/go/blob/252fbaf30fab5542f959d3ead59258440a0e0903/src/crypto/tls/common.go#L290

Assuming my understanding of the RFC is correct, it appears like everything needed to implement channel binding in other libraries is already available. It would then be up to the downstream libraries (such as go-ldap, etc...) to implement channel binding using these attributes.

Note - the title of this issue mentions specifically TLSv1.3, however it is clear from the initial description that the ask is also intended to include TLSv1.2. The reason I say this is because "tis-unique" is only required to complete channel binding in TLSv1.2, and not TLSv1.3.

P.S. I didn't mean to single out go-ldap here, just used it as an example.


Doesn't seem like there's anything to do.

@seankhliao: I have discovered go-channelbinding (good job done by @jake-scott):
- https://github.com/golang-auth/go-channelbinding

In golang, at this time, there is currently only "tls-unique" (good job done by @andres-erbsen):
- https://github.com/golang/go/commit/fce63888cecd22dfc01bf1b6dcb5a1429aecbc17
- https://github.com/search?q=repo%3Agolang%2Fgo+tls-unique&type=code

tls-unique is in Conscrypt too (good job done by @flooey):
- https://github.com/google/conscrypt/pull/388
- https://github.com/search?q=repo%3Agoogle%2Fconscrypt+tls-unique&type=code

There is a "tls-server-end-point" golang and Conscrypt tickets too here:
- https://github.com/golang/go/issues/65047
- https://github.com/google/conscrypt/issues/1411

Thanks in advance.

Dear @golang/security team, @FiloSottile, @seankhliao,

It is possible to reopen this ticket or I need to create a new one?

Important to know: I have discovered go-channelbinding (good job done by @jake-scott):
- https://github.com/golang-auth/go-channelbinding
- https://github.com/search?q=repo%3Agolang-auth%2Fgo-channelbinding+tls-unique&type=code
- https://github.com/search?q=repo%3Agolang-auth%2Fgo-channelbinding+tls-server-end-point&type=code
- https://github.com/search?q=repo%3Agolang-auth%2Fgo-channelbinding+tls-exporter&type=code

In go-xmpp, there are "tls-unique", "tls-server-end-point", "tls-exporter" (good job done by @mdosch):
- https://github.com/search?q=repo%3Axmppo%2Fgo-xmpp+tls-unique&type=code
- https://github.com/search?q=repo%3Axmppo%2Fgo-xmpp+tls-server-end-point&type=code
- https://github.com/search?q=repo%3Axmppo%2Fgo-xmpp+tls-exporter&type=code
- https://github.com/xmppo/go-xmpp/pull/177 + https://github.com/xmppo/go-xmpp/pull/178

In go-ldap, there is "tls-server-end-point" (good job done by @Chrizpy):
- https://github.com/go-ldap/ldap/pull/565
- https://github.com/search?q=repo%3Ago-ldap%2Fldap+tls-server-end-point&type=code
- https://github.com/alexbrainman/sspi/pull/18

In golang, at this time, there is currently only "tls-unique" (good job done by @andres-erbsen):
- https://github.com/golang/go/commit/fce63888cecd22dfc01bf1b6dcb5a1429aecbc17
- https://github.com/search?q=repo%3Agolang%2Fgo+tls-unique&type=code

tls-unique is in Conscrypt too (good job done by @flooey):
- https://github.com/google/conscrypt/pull/388
- https://github.com/search?q=repo%3Agoogle%2Fconscrypt+tls-unique&type=code

There are "tls-server-end-point" tickets here:
- https://github.com/golang/go/issues/65047
- https://github.com/google/conscrypt/issues/1411

There are "tls-exporter" tickets here:
- https://github.com/go-ldap/ldap/issues/392
- https://github.com/golang/go/issues/54103
- https://github.com/google/conscrypt/issues/1078

Thanks in advance.

As we've stated before, we don't think the standard library needs to do anything else to support channel binding.
https://go.dev/doc/faq#x_in_std