For the incremental Parser/Builder, we can add additional methods to handle the MDNS SRV fields which I guess the user can use depending on which type of SRV record they expect. Does that sound ok?

I am not sure what we can do for the more automated Pack/Unpack interface. I guess we revert the change just to Unpack to maximize correctness and add a comment. We could also explicitly only allow parsing MDNS SRV records with the incremental interface. Thoughts?

Just thinking through the options out loud..

Unicast DNS
- must not compress the target field
- must not? should? decompress the target field (might be an indication of corruption, might provide the correct result)

Multicast DNS
- should compress the target field
- must decompress the target field

Hence, Message.Pack can't properly support both Unicast/Multicast. It is better to not compress the target field to meet unicast DNS requirement. Also, not compressing the target field is compatible with multicast DNS. 

For Message.Unpack, the caller probably won't be able to determine whether result is corrupt or not for unicast DNS. I guess it is probably better to flag the error? This means Unpack can't be used for multicast, but it shouldn't be used for packing multicast either.

I'd recommend:
- Documenting that Message Pack/Unpack do not compress the SRV target field and are incompatible with multicast DNS.
- Change Parser/Builder to optionally support compressing/decompressing the target field and allow callers to make the decision (Eg, for multicast DNS, or if they know decompressing unicast DNS is ok).

After looking a bit more at the RFC, I have another idea. What if we add new MulticastPack and MulticastUnpack methods to Message? It appears that the message is either multicast or unicast and that the user should know which one it is.

Also RFC 3597 permits use of DNS compression in SRV:
> Receiving servers MUST decompress domain names in RRs of well-known
   type, and SHOULD also decompress RRs of type RP, AFSDB, RT, SIG, PX,
   NXT, NAPTR, and SRV (although the current specification of the SRV RR
   in [[RFC2782](https://datatracker.ietf.org/doc/html/rfc2782)] prohibits compression, [[RFC2052](https://datatracker.ietf.org/doc/html/rfc2052)] mandated it, and some
   servers following that earlier specification are still in use).