mine: builtinTypes ".xml" defaults to "text/xml" instead of "application/xml"

### Go version

go version go1.23.0 windows/amd64

### Output of `go env` in your module/workspace:

```shell
DNA
```


### What did you do?

DNA

### What did you see happen?

mime/type.go uses `".xml":  "text/xml; charset=utf-8",` for builtinTypes

### What did you expect to see?

[RFC 7303, Section 4.1](https://datatracker.ietf.org/doc/html/rfc7303#section-4.1) states:

> this specification alters the
   handling of character encoding of text/xml and text/xml-external-
   parsed-entity, treating them no differently from the respective
   application/ types.  However, application/xml and application/xml-
   external-parsed-entity are still RECOMMENDED, to avoid possible
   confusion based on the earlier distinction.
   
So, following the recommendatio, in mime/type.go builtinTypesLower should say:

```go
	".xml":  "application/xml; charset=utf-8", 
```

**Related Issues and Documentation**

 - [mime: use "charset=UTF-8" instead of "charset=utf-8" #19430 (closed)](https://github.com/golang/go/issues/19430) <!-- score=0.82981 -->

<sub>(Emoji vote if this was helpful or unhelpful; more detailed feedback welcome in [this discussion](https://github.com/golang/go/discussions/67901).)</sub>


cc [@neild](https://github.com/neild)