net/netip: Is4In6 shall be 'true' for well-known prefixes used for IPv4 <> IPv6 translations.

### Go version

go1.22-20240109-RC01  linux/amd64

### Output of `go env` in your module/workspace:

```shell
GO111MODULE=''
GOARCH='amd64'
GOBIN=''
GOCACHE='/usr/local/google/home/furry/.cache/go-build'
GOENV='/usr/local/google/home/furry/.config/go/env'
GOEXE=''
GOEXPERIMENT='fieldtrack,boringcrypto'
GOFLAGS=''
GOHOSTARCH='amd64'
GOHOSTOS='linux'
GOINSECURE=''
GOMODCACHE='/usr/local/google/home/furry/go/pkg/mod'
GONOPROXY=''
GONOSUMDB=''
GOOS='linux'
GOPATH='/usr/local/google/home/furry/go'
GOPRIVATE=''
GOPROXY='https://proxy.golang.org,direct'
GOROOT='/usr/lib/google-golang'
GOSUMDB='sum.golang.org'
GOTMPDIR=''
GOTOOLCHAIN='auto'
GOTOOLDIR='/usr/lib/google-golang/pkg/tool/linux_amd64'
GOVCS=''
GOVERSION='go1.22-20240109-RC01 cl/597041403 +dcbe772469 X:fieldtrack,boringcrypto'
GCCGO='gccgo'
GOAMD64='v1'
AR='ar'
CC='clang'
CXX='clang++'
CGO_ENABLED='0'
GOMOD='/dev/null'
GOWORK=''
CGO_CFLAGS='-O2 -g'
CGO_CPPFLAGS=''
CGO_CXXFLAGS='-O2 -g'
CGO_FFLAGS='-O2 -g'
CGO_LDFLAGS='-O2 -g'
PKG_CONFIG='pkg-config'
GOGCCFLAGS='-fPIC -m64 -fno-caret-diagnostics -Qunused-arguments -Wl,--no-gc-sections -fmessage-length=0 -ffile-prefix-map=/tmp/go-build3244063302=/tmp/go-build -gno-record-gcc-switches'
```


### What did you do?

[https://go.dev/play/p/FwpGyqH1hio](https://go.dev/play/p/FwpGyqH1hio)


package main

import (
	"fmt"
	"net/netip"
)

func main() {

	// An IPv4-mapped IPv6 Address (RFC4291).
	ipv4Mapped := "::ffff:192.0.2.1"

	// An IPv6 address synthesized from a "Well-Known Prefix" (64:ff9b::/96, RFC6052)
	nat64WKP := "64:ff9b::192.0.2.1"

	// An IPv6 address synthesized from a Local-Use IPv4/IPv6 Translation Prefix
	// (64:ff9b:1::/48, RFC8215) and 192.0.2.1
	rfc8215WKP := "64:ff9b:1::192.0.2.1"

	// Printing the addresses in their canonical text representation,
	// rfc5952#section-5
	fmt.Printf("IPv4-mapped address: %s\n", netip.MustParseAddr(ipv4Mapped).String())
	fmt.Printf("NAT64 address: %s\n", netip.MustParseAddr(nat64WKP).String())
	fmt.Printf("RFC8215 address: %s\n", netip.MustParseAddr(rfc8215WKP).String())
}


### What did you see happen?

The output:

IPv4-mapped address: ::ffff:192.0.2.1
NAT64 address: 64:ff9b::c000:201
RFC8215 address: 64:ff9b:1::c000:201

Only the first address is printed in mixed notation (https://datatracker.ietf.org/doc/html/rfc5952#section-5). That indicates that Is4In6() only recognizes ::ffff:0:0/96 as a well-known prefix, used for embedding IPv4 addresses into IPv6 ones.

Both 64:ff9b::/96 ([RFC6052](https://www.rfc-editor.org/rfc/rfc6052.html)) and 64:ff9b:1::/48 ([RFC8215](https://datatracker.ietf.org/doc/html/rfc8215)) prefixes are not recognized as used for having IPv4 addresses embedded in the lower 32 bits.

As both prefixes are well-known and reserved by IANA (https://www.iana.org/assignments/iana-ipv6-special-registry/iana-ipv6-special-registry.xhtml), I believe Is4In6() shall be updated (happy to write that code, indeed).

P.S. I'd also argue that for backwards compatibility it would be beneficial to recognize ::/96 as a Well-Known Prefix, despite its deprecation, as there are still systems around which might be using it.

### What did you expect to see?

All 3 addresses shall be represented using mixed notation, as per https://datatracker.ietf.org/doc/html/rfc5952#section-5

"mixed notation is RECOMMENDED if the following condition is met: the address can be distinguished as having IPv4 addresses embedded in the lower 32 bits solely from the address field through the use of a well-known prefix.
Such prefixes are defined in [[RFC4291](https://datatracker.ietf.org/doc/html/rfc4291)] and [[RFC2765](https://datatracker.ietf.org/doc/html/rfc2765)] at the time of this writing."

@ianlancetaylor @neild if you could give this a look.


My 2 cents: I like this proposal, but I hope we can **create a new function** (if needed) instead of changing the current `Is4In6`. I believe we should keep `Is4In6` and `Unmap` in sync, and it seems nice that the current `Unmap` is reversible, which means `Is4In6` probably should not recognize more translations.

**I believe that Is4In6 should not be deprecated.** IPv4-mapped IPv6 addresses are essentially IPv4 addresses represented in IPv6 format, without any additional significance. They are, in essence, IPv4 addresses, and many systems will treat them as such. For instance, sending a packet with an IPv4-mapped IPv6 address on a dual-stack machine will result in an IPv4 packet being sent. Therefore, Is4In6 is valuable in determining whether an IPv4 packet will be transmitted. It is also useful for checking whether an IPv6 address is suitable for AAAA records in DNS.

This distinction is crucial when compared to other protocols, which aim to send genuine IPv6 packages with an embedded address. The need for a different prefix in these cases arises from this fundamental difference. For example, IPv4-embedded IPv6 addresses are _designed_ to be used in AAAA records, while IPv4-mapped ones should never appear in them. Therefore we should avoid conflating IPv4-mapped IPv6 addresses with other IPv4-translatable or IPv4-embedded IPv6 addresses. We could potentially have `Unmap` handle all prefixes specified by RFCs, but there should be a clear way to differentiate between them.

Change https://go.dev/cl/617835 mentions this issue: `net/netip: clarify Addr.Is4In6 documentation`

[netip.Addr.Is4In6](https://pkg.go.dev/net/netip#Addr.Is4In6) is documented as reporting whether an address is "an IPv4-mapped IPv6 address".

[RFC 4291, section 2.5.5.2](https://datatracker.ietf.org/doc/html/rfc4291#section-2.5.5.2) defines an IPv4-mapped IPv6 address as in the subnet ::ffff:0:0/96. [RFC 5156, section 2.2](https://datatracker.ietf.org/doc/html/rfc5156#section-2.2) has a more concise definition.

Since "IPv4-mapped IPv6 address" is a term of art with a specific definition, Is4In6's current behavior is correct and should not change. https://go.dev/cl/617835 makes the Is4In6 documentation more explicit.

A separate question is whether we should use mixed notation when formatting RFC6052 and RFC8215 addresses. That seems like it would be reasonable, but I haven't thought about it in detail.