net/http: ServeContent returns 206 with an invalid Content-Range for Range `bytes=-0`

### Go version

go version go1.27.0 linux/amd64

### Output of `go env` in your module/workspace:

```shell
AR='ar'
CC='gcc'
CGO_CFLAGS='-O2 -g'
CGO_CPPFLAGS=''
CGO_CXXFLAGS='-O2 -g'
CGO_ENABLED='1'
CGO_FFLAGS='-O2 -g'
CGO_LDFLAGS='-O2 -g'
CXX='g++'
GCCGO='gccgo'
GO111MODULE=''
GOAMD64='v1'
GOARCH='amd64'
GOAUTH='netrc'
GOBIN='/home/secriy/.go/bin'
GOCACHE='/home/secriy/.cache/go-build'
GOCACHEPROG=''
GODEBUG=''
GOENV='/home/secriy/.config/go/env'
GOEXE=''
GOEXPERIMENT=''
GOFIPS140='off'
GOFLAGS=''
GOGCCFLAGS='-fPIC -m64 -pthread -Wl,--no-gc-sections -fmessage-length=0 -ffile-prefix-map=/tmp/go-build3994379912=/tmp/go-build -gno-record-gcc-switches'
GOHOSTARCH='amd64'
GOHOSTOS='linux'
GOINSECURE=''
GOMOD='/dev/null'
GOMODCACHE='/home/secriy/.go/pkg/mod'
GONOPROXY=''
GONOSUMDB=''
GOOS='linux'
GOPACKAGESDRIVER=''
GOPATH='/home/secriy/.go'
GOPRIVATE=''
GOPROXY='https://proxy.golang.org,direct'
GOROOT='/usr/local/go'
GOSUMDB='sum.golang.org'
GOTELEMETRY='local'
GOTELEMETRYDIR='/home/secriy/.config/go/telemetry'
GOTMPDIR=''
GOTOOLCHAIN='auto'
GOTOOLDIR='/usr/local/go/pkg/tool/linux_amd64'
GOVCS=''
GOVERSION='go1.27.0'
GOWORK=''
PKG_CONFIG='pkg-config'
```

### What did you do?

I ran the following program, which uses http.ServeContent to serve a three-byte representation and sends a GET request with Range: bytes=-0:
```
func main() {
	server := httptest.NewServer(http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		http.ServeContent(w, r, "demo.txt", time.Time{}, strings.NewReader("foo"))
	}))
	defer server.Close()

	req, err := http.NewRequest(http.MethodGet, server.URL, nil)
	if err != nil {
		panic(err)
	}
	req.Header.Set("Range", "bytes=-0")

	resp, err := server.Client().Do(req)
	if err != nil {
		panic(err)
	}
	body, err := io.ReadAll(resp.Body)
	resp.Body.Close()
	if err != nil {
		panic(err)
	}

	fmt.Printf("GET: status=%d Content-Range=%q body=%q\n", resp.StatusCode, resp.Header, body)
}
```

https://go.dev/play/p/sdFlbnVDZYW

### What did you see happen?

The program prints:
```
GET: status=206 Content-Range=map["Accept-Ranges":["bytes"] "Content-Length":["0"] "Content-Range":["bytes 3-2/3"] "Content-Type":["text/plain; charset=utf-8"] "Date":["Tue, 10 Nov 2009 23:00:00 GMT"]] body=""
```

ServeContent returns 206 Partial Content, but the generated Content-Range is invalid because its last-pos value is less than its first-pos value. [RFC 9110 Section 14.4](https://www.rfc-editor.org/rfc/rfc9110.html#section-14.4) states that a Content-Range field value with last-pos less than first-pos is invalid.

### What did you expect to see?

According to RFC 9110, a suffix range is satisfiable only when its suffix length is non-zero:

https://www.rfc-editor.org/rfc/rfc9110.html#section-14.1.2

Therefore, `bytes=-0` is syntactically valid but unsatisfiable. RFC 9110 Section 14.2 says that a server supporting the requested range unit should respond with **416 Range Not Satisfiable** when a valid ranges specifier is unsatisfiable. And server should not generate an invalid Content-Range.

This appears related to [#40940](https://github.com/golang/go/issues/40940), where a negative suffix length also caused ServeContent to generate a 206 response with an invalid Content-Range. That issue rejected negative suffix lengths, but a zero suffix length is still accepted as a zero-length range rather than treated as unsatisfiable.

**Related Issues**

 - [net/http: ServeContent sends 416 Requested Range Not Satisfiable when content is empty and range include 0 #54794 (closed)](https://github.com/golang/go/issues/54794) <!-- score=0.89373 -->
 - [net/http: FileServer incorrectly parses Range header when a range starts with two minus signs #40940 (closed)](https://github.com/golang/go/issues/40940) <!-- score=0.88050 -->
 - [net/http: \`ServeContent\` responds with 200 to Range request #75567 (closed)](https://github.com/golang/go/issues/75567) <!-- score=0.88045 -->
 - [net/http: Range request edge case #8988 (closed)](https://github.com/golang/go/issues/8988) <!-- score=0.87328 -->
 - [net/http: ServeContent serves wrong headers if request range is invalid #50905 (closed)](https://github.com/golang/go/issues/50905) <!-- score=0.86242 -->
 - [net/http: handling range requests for empty files #47021 (closed)](https://github.com/golang/go/issues/47021) <!-- score=0.85140 -->
 - [net/http: ServeContent does not send Content-Range in 416 errors #15798 (closed)](https://github.com/golang/go/issues/15798) <!-- score=0.84707 -->

**Related Code Changes**

 - [net/http: ignore ranges if the content is empty in serveContent](https://go-review.googlesource.com/c/go/+/427195#related-content) <!-- score=0.83142 -->
 - [net/http: Fix Range off-by-one error](https://go-review.googlesource.com/c/go/+/1862#related-content) <!-- score=0.82247 -->
 - [net/http: reject negative suffix-length Range:bytes=--N with 416 status code](https://go-review.googlesource.com/c/go/+/252497#related-content) <!-- score=0.82090 -->

<sub>(Emoji vote if this was helpful or unhelpful; more detailed feedback welcome in [this discussion](https://github.com/golang/go/discussions/67901).)</sub>


cc @neild @nicholashusin 

Change https://go.dev/cl/828424 mentions this issue: `net/http: treat zero-length suffix range as unsatisfiable`