net/http: font version returns internal server error 500

Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.1 windows/amd64
Edit: also occurs in 1.7.4

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows

### What did you do?
1. Created a web server: https://play.golang.org/p/wgGzWTuhoV
2. Downloaded and hosted the following demo: https://startbootstrap.com/template-overviews/sb-admin-2/
3. Connected browser to localhost:8080.
4. Observed internal server errors (500) for fonts which define a version. Example: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
5. Removed font version query in css (./vendor/font-awesome/css/font-awesome.min.css), observed working behaviour.

### What did you expect to see?
Web packages (such as font-awesome) using font versioning queries resolves correctly for downloaded font css packages (using ?v=#), similarly to how css queries resolve (for example: https://fonts.googleapis.com/icon?family=Material+Icons).

### What did you see instead?
Version query did not resolve and threw an internal server error (500). 


Your handler has a bug. RequestURI includes the query string. The docs at https://golang.org/pkg/net/http/#Request say:

```
        // RequestURI is the unmodified Request-URI of the
        // Request-Line (RFC 2616, Section 5.1) as sent by the client
        // to a server. Usually the URL field should be used instead.
```

For questions about Go, see https://golang.org/wiki/Questions.

You were right. Changing my usage of RequestURI to URL.Path resolved this problem. I'm surprised the CSS call worked with URI. Thanks for the help and pointer.