net/http/httptest: NewRequest populates all r.URL fields when passed a complete URL causing misleading test behavior

[`httptest.NewRequest`](https://pkg.go.dev/net/http/httptest#NewRequest) can create HTTP requests that differ subtly from that of production HTTP servers resulting in misleading test behavior. 

Specifically, when `httptest.NewRequest` is passed a complete URL as its second argument, it will parse the URL and return a `http.Request` whose `URL` fields are populated with all of the data in that URL. 

However in production per the `http.Request` Go documentation the `http.Request` objects passed to handlers will have URLs with only `Path` and `RawQuery` populated. 

```
// URL specifies either the URI being requested (for server
// requests) or the URL to access (for client requests).
//
// For server requests, the URL is parsed from the URI
// supplied on the Request-Line as stored in RequestURI.  For
// most requests, fields other than Path and RawQuery will be
// empty. (See [RFC 7230, Section 5.3](https://rfc-editor.org/rfc/rfc7230.html#section-5.3))
//
// For client requests, the URL's Host specifies the server to
// connect to, while the Request's Host field optionally
// specifies the Host header value to send in the HTTP
// request.
URL *[url](https://pkg.go.dev/net/url).[URL](https://pkg.go.dev/net/url#URL)
```

The result is that tests that consume `httptest.NewRequest` and that rely on the presence of `URL` fields other than `Path` and `RawQuery` will pass under `go test` but the behavior that they exercise will never actually execute in production. 

An [example of this misleading behavior](https://csrf.patrickod.com) can be found in the gorilla/csrf library whose Referer header checks were reliant on `r.URL.Scheme` being set to `https`. 

/cc @golang/security 

As the docs for httptest.NewRequestWithContext state, it is for creating server side requests, which can see the full url in some requests such as CONNECT. It also points out that client requests should use the standard http.NewRequest.

I don't think there's anything for the Go project to do, gorilla/csrf should fix their docs.

I guess it's a really common mistake https://github.com/search?q=language%3Ago%20%2Fhttptest.NewRequest(WithContext)%3F%5C(.*%2C%20%22http%2F&type=code

perhaps a vet check that full URLs should not be used with GET / POST / etc? not sure if it's accurate enough.

**Related Issues**

 - [net/http/httptest: make easier way to create Requests for testing #14915 (closed)](https://github.com/golang/go/issues/14915) <!-- score=0.88581 -->
 - [net/http: NewRequest and NewRequestWithContext do not ensure a valid path #71565 (closed)](https://github.com/golang/go/issues/71565) <!-- score=0.83782 -->
 - [net/http: Inconsistent output with req.URL.RequestURI() #67666 (closed)](https://github.com/golang/go/issues/67666) <!-- score=0.82675 -->
 - [net/http: \*Request.URL.Scheme returns an empty string. No alternative way present to get request url scheme. #28940 (closed)](https://github.com/golang/go/issues/28940) <!-- score=0.82227 -->

**Related Documentation**

 - [Package httptest \> func NewRequestWithContext 				¶ 				 				1.23 			](https://go.dev/pkg/net/http/httptest/?m=old#NewRequestWithContext) <!-- score=0.82883 -->

<sub>(Emoji vote if this was helpful or unhelpful; more detailed feedback welcome in [this discussion](https://github.com/golang/go/discussions/67901).)</sub>


Right, although I think the httptest.NewRequest documentation is rather clear on this, you pass the request-target form that you want the request to represent. But you're right, it's somewhat unclear (and perhaps misleading) how you would get a origin-form request that was sent over TLS, or set any Request parameters that are based on header values such as Host.

I don't think we can really change the behavior of httptest.NewRequest without breaking normal usages of it. Perhaps this needs a new API.