x/text/secure/precis: add ability to construct restricted profile from existing profile

The RFCs mention that PRECIS profiles may further restrict valid characters beyond what is specified in the underlying string class ([RFC 8264 §6.2](https://tools.ietf.org/html/rfc8264#section-6.2)):

> An application protocol that uses a profile MAY specify particular
> code points that are not allowed in relevant slots within that
> application protocol, above and beyond those excluded by the string
> class or profile.

Currently this has to be done outside of the `precis` package, eg. by scanning the string for invalid characters after applying the profile, or by creating a new profile which matches one of the internally defined ones and adding a `Disallow` rule.

To make this easier and less fragile, I would like to add a new profile constructor which either specifically sets the disallow option, or a more generic constructor that lets you build a profile by overriding options on an existing profile. I'm leaning towards the first one to avoid profile proliferation (we probably don't want to encourage authors to make up their own profiles if possible, the existing ones are generally preferable):

```go
// NewRestrictedProfile creates a new PRECIS profile based on an existing
// profile but with an additional set of runes disallowed.
// If the existing profile already had the Disallow option set, the new rule
// overrides the parents rule.
func NewRestrictedProfile(parent *Profile, disallowed runes.Set) *Profile { /* … */ }

// NewProfile creates a new PRECIS profile based on an existing profile.
// Any options provided override options from the parent profile.
func NewProfile(parent *Profile, opts ...Option) *Profile { /* … */ }
```

For example:

```go
MyURLParamProfile = precis.NewRestrictedProfile(precis.UsernameCaseMapped, runes.Predicate(func(r rune) bool {
    return strings.ContainsRune(`%&;`, r)
})

// or:

MyURLParamProfile = precis.NewProfile(precis.UsernameCaseMapped, precis.Disallow(runes.Predicate(func(r rune) bool {
    return strings.ContainsRune(`%&;`, r)
}))
```

/cc @mpvl, @nigeltao 

NewRestrictedProfile(parent *Profile, disallowed runes.Set) seems OK to me.

I'll let @mpvl have the final say. I haven't really had much time for Go x/text stuff lately. Sorry.

I'll go ahead and make a CL then and ping you both on it. If it turns out that this isn't something MPVL wants then I can do the other one or abandon the CL.

Change https://golang.org/cl/113816 mentions this issue: `secure/precis: add ability to restrict profiles`

Change https://golang.org/cl/121359 mentions this issue: `secure/precis: add missing strings, x/text/runes imports for 1.9`