websocket: WebSocket listener should not require Origin request header

by **Jens.Alfke**:

<pre>The WebSocket hander rejects an incoming connection if the HTTP request does not include
an &quot;Origin&quot; header. This is contrary to the spec; the Origin header is only
necessary if the request came from a web browser:

        &quot;The request MUST include a header field with the name |Origin|
        [RFC6454] if the request is coming from a browser client.  If
        the connection is from a non-browser client, the request MAY
        include this header field if the semantics of that client match
        the use-case described here for browser clients.&quot;
        -- RFC 6455, section 4.1, item #8:

In my use case the request is coming from an application that's not a browser, and
there's no meaningful value for this header. I have to set it to an arbitrary value of
&quot;<a href="http://localhost&quot">http://localhost&quot</a>; to work around this bug.

What steps will reproduce the problem?
1. Run the WebSocket handler example shown in the package documentation:
<a href="http://godoc.org/code.google.com/p/go.net/websocket#example-Handler">http://godoc.org/code.google.com/p/go.net/websocket#example-Handler</a>
2. Telnet to its port and send the following data:

GET /echo HTTP/1.1
Host: localhost:12345
Sec-WebSocket-Version: 13
Upgrade: websocket
Sec-WebSocket-Key: oyPxhvkIKpUZSD9Bv9I5xg==
Connection: Upgrade


What is the expected output?

HTTP/1.1 101 Switching Protocols

What do you see instead?

HTTP/1.1 400 Bad Request

(If a line &quot;Origin: <a href="http://localhost&quot">http://localhost&quot</a>; is added to the request, the expected
response appears.)

Which compiler are you using (5g, 6g, 8g, gccgo)?
&quot;go&quot; command


Which operating system are you using?
Mac OS X 10.9

Which version are you using?  (run 'go version')
1.1.1

Please provide any additional information below.</pre>

Merged into #10102.