net: SplitHostPort accepts [non-ipv6]:port

`net.SplitHostPort("[hostname]:port")` returns `("hostname", "port", nil)`.

The bracketed name syntax exists to disambiguate colons in IPv6 addresses from the colon separating the port from the address. In the specific case of URL host components, RFC 3986 permits the brackets to only contain an IPv6 address. In cases such as #78944, naïvely using `SplitHostPort` on a URL host component can lead to inadvertently accepting technically-invalid addresses.

Perhaps we should change `net.SplitHostPort` to reject anything other than IPv6 addresses in the brackets. (We'd almost certainly need a GODEBUG to revert to the old behavior.) Or perhaps we should have a stricter `url.SplitHostPort` for use on URL host components. Or perhaps this is fine. Filing this issue to track.

**Related Issues**

 - [net/url: better handling or documentation of IPv6 addresses in url.URL.Host #61276 (closed)](https://github.com/golang/go/issues/61276) <!-- score=0.85704 -->
 - [net: SplitHostPort() doesn't respect RFC5952 section 6 #37817 (closed)](https://github.com/golang/go/issues/37817) <!-- score=0.85153 -->
 - [net/url: make URL parsing return an error on IPv6 literal without brackets #31024 (closed)](https://github.com/golang/go/issues/31024) <!-- score=0.85104 -->
 - [net: SplitHostPort errors if no port is specified, but not if input ends with a trailing ":" #25874](https://github.com/golang/go/issues/25874) <!-- score=0.84433 -->
 - [net: SplitHostPort has inconsistent error conditions #18040 (closed)](https://github.com/golang/go/issues/18040) <!-- score=0.84371 -->
 - [net: SplitHostPort has returns strange host when err != nil #14827 (closed)](https://github.com/golang/go/issues/14827) <!-- score=0.84063 -->
 - [net: document that SplitHostPort and JoinHostPort never treat non-IP literals enclosed in square brackets #18060 (closed)](https://github.com/golang/go/issues/18060) <!-- score=0.83846 -->
 - [net/url: parseHost doesn't valid ports or contents after IPv6 literals #11208 (closed)](https://github.com/golang/go/issues/11208) <!-- score=0.83451 -->
 - [net/url: getting the host\[name\] (or port) of a URL #16142 (closed)](https://github.com/golang/go/issues/16142) <!-- score=0.83192 -->

**Related Code Changes**

 - [net: don't enclose non-literal IPv6 addresses in square brackets](https://go-review.googlesource.com/c/go/+/40510#related-content) <!-- score=0.83719 -->

<sub>(Emoji vote if this was helpful or unhelpful; more detailed feedback welcome in [this discussion](https://github.com/golang/go/discussions/67901).)</sub>


Change https://go.dev/cl/770642 mentions this issue: `net: reject non-IPv6 addresses in brackets in SplitHostPort`

Change https://go.dev/cl/770645 mentions this issue: `net: reject non-IPv6 addresses in brackets in SplitHostPort`

cc @ianlancetaylor @neild @nicholashusin