proposal: net/http: add support for proxy basic authentication

The current implementation of the http.Reuest allows parsing and setting the basic authentication username and password using the BasicAuth and SetBasicAuth methods. When authenticating to a http proxy server the http client and server are using a different header for the basic authentication - "Proxy-Authorization" described in RFC 2068, Section 14. Supporting parsing and setting proxy basic authentication is currently not covered in the net/http package and would be very helpful when programming http proxy client/server.

To help tackle this, I propose the following API:
```
// ProxyBasicAuth returns the username and password provided in the request's
// Proxy-Authorization header, if the request uses HTTP Basic Authentication.
// See RFC 2068, Section 14.
(r *Request) ProxyBasicAuth() (username, password string, ok bool)

// SetProxyBasicAuth sets the request's Proxy-Authorization header to use HTTP
// Basic Authentication with the provided username and password.
(r *Request) SetProxyBasicAuth(username, password string)
```


The implementation for this proposal can be found here #55131.

How common does the need for this occur that it needs specialized API in net/http?
The client side in particular seems unconvincing as it can't be directly used outside of dialer implementations, adding API surface there may mislead users on how proxy connections should be setup.

cc @neild 

CC @neild @bradfitz 

As @seankhliao said, these helpers seem like they can be implemented as a separate package very easily. We only added BasicAuth etc because they came up so often. This doesn't seem like it comes up often enough.



This proposal has been added to the [active column](https://go.dev/s/proposal-status#active) of the proposals project
and will now be reviewed at the weekly proposal review meetings.
— rsc for the proposal review group



Based on the discussion above, this proposal seems like a **[likely decline](https://go.dev/s/proposal-status#likely-decline)**.
— rsc for the proposal review group



No change in consensus, so **[declined](https://go.dev/s/proposal-status#declined)**.
— rsc for the proposal review group
