net/http: Redirect conditions are incorrect, support 307/308

I believe the functions Client.doFollowingRedirects and shouldRedirect{Post,Get} are incorrect according to http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html. Of the 4 redirect codes considered in this code, 301, 302, and 307 should redirect for GET and HEAD only. 303 should always redirect, and always convert the method to GET.

Currently 302 and 303 are redirecting POST and PUT, and converting to GET in doing so. I doubt anyone is relying on the current broken behaviour as it doesn't work as expected for due to #3665, which prematurely consumes the original request body when using POST/PUT in a safe way.


Too late for Go 1.5. See also #9348.

> I believe the functions Client.doFollowingRedirects and shouldRedirect{Post,Get} are incorrect according to http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html. Of the 4 redirect codes considered in this code, 301, 302, and 307 should redirect for GET and HEAD only. 303 should always redirect, and always convert the method to GET.

```This document has been superseded. In 2014, RFC2616 was replaced by multiple RFCs (7230-7237). See IETF Documents for more information.```

This document has been superseded by https://tools.ietf.org/html/rfc7231#section-6.4

```
   HTTP defines a set of status codes for the purpose of redirecting a
   request to a different URI ([RFC3986]).  The history of these status
   codes is summarized in Section 6.4 of [RFC7231], which also
   classifies the existing status codes into four categories.

   The first of these categories contains the status codes 301 (Moved
   Permanently), 302 (Found), and 307 (Temporary Redirect), which can be
   classified as below:

   +-------------------------------------------+-----------+-----------+
   |                                           | Permanent | Temporary |
   +-------------------------------------------+-----------+-----------+
   | Allows changing the request method from   | 301       | 302       |
   | POST to GET                               |           |           |
   | Does not allow changing the request       | -         | 307       |
   | method from POST to GET                   |           |           |
   +-------------------------------------------+-----------+-----------+

   Section 6.4.7 of [RFC7231] states that HTTP does not define a
   permanent variant of status code 307; this specification adds the
   status code 308, defining this missing variant (Section 3).
``` 

> this specification adds the
>    status code 308, defining this missing variant (Section 3).

It seems Go [doesn't have a constant for 308](https://godoc.org/net/http#pkg-constants), and explicitly [does not consider it for redirects](https://godoc.org/net/http#Get). This led to [unexpected behaviour](https://twitter.com/JohnShaftFr/status/747535722559606784) for someone using a program implemented in Go.

I can't find a technical reason this is not supported; is it just a matter of making Go know about 308's?

@lgarron, the constant was added during the Go 1.7 dev cycle. You can see it at https://tip.golang.org/pkg/net/http/#pkg-constants

It seems that 308 should be followed.



> @lgarron, the constant was added during the Go 1.7 dev cycle. You can see it at https://tip.golang.org/pkg/net/http/#pkg-constants
> 
> It seems that 308 should be followed.

Ah, excellent! I didn't know about `tip.golang.org`, thanks for the link.

CL https://golang.org/cl/29852 mentions this issue.

CL https://golang.org/cl/31733 mentions this issue.

CL https://golang.org/cl/32595 mentions this issue.