crypto/tls: missing ec_point_formats extension make some old clients to decline handshake

For some reason, Go TLS *does* send the `ec_point_formats` extension as part of ClientHello with the minimum required list, but *does not* for ServerHello.

Per RFC 8422, section 5.1.2, it is perfectly fine not to send this extension, and most clients are fine with it:

> For backwards compatibility purposes, the point format list extension MAY still be included and contain exactly one value: the uncompressed point format (0).  RFC 4492 specified that if this extension is missing, it means that only the uncompressed point format is supported, so interoperability with implementations that support the uncompressed format should work with or without the extension.

However, some old (7 year old) client implementations are expecting this extension to be present if an ECC cipher is selected, and consider the lack of it to be an error and interrupt the handshake as a result.

Other server implementations like BoringSSL or OpenSSL implement this extension and always send it as part of an ECC ServerHello. There is no need to implement any of the compression format as RFC 8422, section 5.1.2 deprecates them all. Only the uncompressed format MUST be part of the list:

> This specification deprecates all but the uncompressed point  format.  Implementations of this document MUST support the uncompressed format for all of their supported curves and MUST NOT support other formats for curves defined in this specification.

I propose to send this extension with the uncompressed format as part of all ServerHello with an ECC cipher selected.

A patch will follow.

Cc @FiloSottile 

It is worth noting that on the client side, Go is unconditionally sending `ec_point_format` and `supported_groups` extensions, regardless of the ciphersuites containing any ECC capable ciphers. OpenSSL does not send those extension in such case, and the RFC 8422, section 5.1 says:

> The extensions SHOULD be sent along with any ClientHello message **that proposes ECC cipher suites.**

Nothing says we MUST NOT send it in case of non-ECC cipher suites, and this kind of handshake is hopefully going away, but it means that this patch will affect all types of handshake flow tests in place.

I was considering adding a condition for not sending those extensions in case of RSA only handshake, but I guess it would be rejected.

Please advise.

Change https://golang.org/cl/176418 mentions this issue: `crypto/tls: send ec_points_format extension in ServerHello`

More than happy to match OpenSSL and BoringSSL here. It's kind of hard to get Go to do an ECC-less ClientHello, so I would not bother with figuring that out to remove the extension.

The tree is frozen now, so will merge as soon as 1.14 opens. Thanks for sending a patch!

Any news on this?

Was just looking at it yesterday while retriaging for Go 1.14. I'll be rebasing and merging it soon!