crypto/x509: tighten up SAN criticality handling

RFC 5280 §[4.2.1.6] says:

> If the subject field contains an empty sequence, then the issuing CA MUST include a
> subjectAltName extension that is marked as critical.  When including the
> subjectAltName extension in a certificate that has a non-empty subject
> distinguished name, conforming CAs SHOULD mark the subjectAltName extension as
> non-critical.

The first MUST requirement is tested by the `x509-limbo` [rfc5280::san::noncritical-with-empty-subject] testcase, and the second SHOULD is tested by [webpki::san::san-critical-with-nonempty-subject], where the [baseline requirements] §7.1.2.7.12 elevates this to a MUST NOT for non-criticality:

> If the subject field of the certificate is an empty SEQUENCE, this extension
> MUST be marked critical, as specified in RFC 5280, Section 4.2.1.6. Otherwise,
> this extension MUST NOT be marked critical.

Go crypto/x509 should enforce these requirements when verifying a leaf certificate so that the x509-limbo test cases produce the expected results.

The `x509.CreateCertificate` function already handles SAN criticality correctly when producing certificates.

Relates to https://github.com/golang/go/issues/65085 https://go-review.googlesource.com/c/go/+/783980

[4.2.1.6]: https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.6
[rfc5280::san::noncritical-with-empty-subject]: https://x509-limbo.com/testcases/rfc5280/#rfc5280sannoncritical-with-empty-subject
[webpki::san::san-critical-with-nonempty-subject]: https://x509-limbo.com/testcases/webpki/#webpkisansan-critical-with-nonempty-subject
[baseline requirements]: https://cabforum.org/working-groups/server/baseline-requirements/documents/CA-Browser-Forum-TLS-BR-2.2.7.pdf



**Related Issues**

 - [crypto/x509: always emit a critical SAN extension if the Subject is empty in a CSR #46810](https://github.com/golang/go/issues/46810) <!-- score=0.89933 -->
 - [crypto/x509: CreateCertificate should mark SubjectAltName as critical iff Subject is empty #22249 (closed)](https://github.com/golang/go/issues/22249) <!-- score=0.87973 -->
 - [crypto/x509: reject end-entity certs w/ name constraint ext. #79742](https://github.com/golang/go/issues/79742) <!-- score=0.87470 -->
 - [crypto/x509: reject CA w/ empty subject #79744](https://github.com/golang/go/issues/79744) <!-- score=0.86604 -->
 - [crypto/x509: reject misencoded empty EKU #79743](https://github.com/golang/go/issues/79743) <!-- score=0.85558 -->
 - [crypto/x509: reject non-profile minimum/maximum in GeneralSubtree name constraints #77826](https://github.com/golang/go/issues/77826) <!-- score=0.85393 -->
 - [crypto/x509: don't apply name constraints to non-terminal self-issued certs #79746](https://github.com/golang/go/issues/79746) <!-- score=0.84881 -->
 - [crypto/x509: parse SAN DirectoryName #47618 (closed)](https://github.com/golang/go/issues/47618) <!-- score=0.84538 -->

**Related Code Changes**

 - [crypto/x509: always emit a critical SAN extension if the Subject is empty in a CSR](https://go-review.googlesource.com/c/go/+/329129#related-content) <!-- score=0.85621 -->
 - [crypto/x509: always emit a critical SAN extension if the Subject is empty.](https://go-review.googlesource.com/c/go/+/70852#related-content) <!-- score=0.83781 -->

<sub>(Emoji vote if this was helpful or unhelpful; more detailed feedback welcome in [this discussion](https://github.com/golang/go/discussions/67901).)</sub>


cc @golang/security 