encoding/csv leading " in non-quoted field leads to error

Please answer these questions before submitting your issue. Thanks!


### What version of Go are you using (`go version`)?

1.9.2

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

darwin
amd64

### What did you do?

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

https://play.golang.org/p/nrG_caEeYL7

A quote `"` that appears at the beginning of the field but not at the end of the field `"Medaka Box" Stray Bushiroad Storage Box Collection Vol.50` leads to an erroneous error: `record on line 2: wrong number of fields`, even though this file has a uniform number of tab `'\t'` delimited fields for every row.  This file parses correctly in Excel, OpenOffice, Numbers etc.  The data comes from a legitimate source, generated tab separated file from an Amazon report.

If I turn magic quotes off, then I get a different error: `parse error on line 2, column 11: extraneous or missing " in quoted-field`


### What did you expect to see?

I expect not to see an error.  A partially quoted field in a non-quoted field is a legit use case that other systems/software generate and can consume.

### What did you see instead?

record on line 2: wrong number of fields

Change https://golang.org/cl/101075 mentions this issue: `fixes #24422 leading double quote in non-quoted \t separated field`

I believe this is a dup of #19019

cc @dsnet 

Issue #19019 is more about not having enough detail in an error, whereas I'm saying we should not have an error at all.  I have updated https://play.golang.org/p/YFyJ7uoGcXW example.  There are two fields in every row, therefore the error is erroneous. 

Under https://tools.ietf.org/html/rfc4180#section-2. 

 ```
Each field may or may not be enclosed in double quotes (however
 some programs, such as Microsoft Excel, do not use double quotes
 at all).  If fields are not enclosed with double quotes, then
 double quotes may not appear inside the fields.
```   

Under that definition then a field which starts with a double quote but does not end with a double quote is not a valid CSV field.  So under that strict definition, then yes, I would agree that [it works as intended] (for comma separated values).  

However, the encoding/csv package already breaks with the strictest interpretation of the spec via LazyQuotes option.  LazyQuotes = true allows double quotes in the field without the entire field being quoted, directly counter to this sentence:  

```If fields are not enclosed with double quotes, then
 double quotes may not appear inside the fields.
```

Clearly the intention of the LazyQuote option is to support files from vendors that do not produce valid quoted fields.  If the package allows the flexibility for use LazyQuotes and the flexibility to switch the delimiter to '\t', I would argue that developers would and should expect encoding/csv to be THE defacto standard package for handing csv files and for handling other delimited files by changing the r.Comma rune.   Other CSV parsing libs in other languages, such as ruby, can handle delimiting '\t' and do not run into this issue.

The error message generated here https://play.golang.org/p/YFyJ7uoGcXW just makes no sense, (clearly the number of fields is uniform between lines) is unintuitive and wastes developer time.  It should be handled.

The CSV spec is silent on using other delimiters.  But the package here not only allows alternate delimiters, it also allows flexibility for breaking out of strictly enclosed quoted fields so we should handle this case correctly.

The necessity of using quoted fields at all is partial to using commas as a delimiter in the first place.  
But when switching to a tab delimiter, many problems are avoided: commas to do need to be enclosed with double quotes, and double quotes do not need to be escaped since we do not require quoted fields.

If the package advertises that it is flexible to break the spec as a pragmatic consideration to parsing quotes in non-quoted fields and flexible to switching to a non-comma delimiter then I think this issue lies in it's domain.

The paragraph you cite says:
> Each field may or may not be enclosed in double quotes

This says nothing about what is a quoted field or not.

Let's look at an example. The problematic field in question in your data is: `"Medaka Box" Stray Bushiroad Storage Box Collection Vol.50 [ Japan Import ]`.

This field starts with a quote, so it is by definition a quoted field, which must terminate with one, but it doesn't.

The ABNF grammar is as such:
>   The ABNF grammar [2] appears as follows:
   file = [header CRLF] record *(CRLF record) [CRLF]
   header = name *(COMMA name)
   record = field *(COMMA field)
   name = field
   field = (escaped / non-escaped)
   escaped = DQUOTE *(TEXTDATA / COMMA / CR / LF / 2DQUOTE) DQUOTE
   non-escaped = *TEXTDATA
   COMMA = %x2C
   CR = %x0D ;as per section 6.1 of RFC 2234 [2]
   DQUOTE =  %x22 ;as per section 6.1 of RFC 2234 [2]
   LF = %x0A ;as per section 6.1 of RFC 2234 [2]
   CRLF = CR LF ;as per section 6.1 of RFC 2234 [2]
   TEXTDATA =  %x20-21 / %x23-2B / %x2D-7E

Note that a field may either be  `escaped` or `non-escaped`. The grammar for `escaped` insists that it starts and ends with a double quote, which your data does not do.
