proposal: x/crypto/ssh: allow to send type specific data when accepting a channel

According to RFC 4254 [section 5.1](https://www.rfc-editor.org/rfc/rfc4254#section-5.1), `SSH_MSG_CHANNEL_OPEN_CONFIRMATION` can contain some type specific data, we have mapping for this [extra payload](https://github.com/golang/crypto/blob/eb61739cd99fb244c7cd188d3c5bae54824e781d/ssh/messages.go#L227) but currently the field is unused.

I propose to add API to allow setting this field when accepting a channel on the server side and to retrieve the value on the client side.

Proposed API for the server side part:

```
// NewChannelWithPayload is a NewChannel that allows to send an arbitrary
// payload in SSH_MSG_CHANNEL_OPEN_CONFIRMATION.
type NewChannelWithPayload interface {
	NewChannel

	// AcceptWithPayload allows to set an arbitrary payload to send in
	// SSH_MSG_CHANNEL_OPEN_CONFIRMATION.
	AcceptWithPayload(payload []byte) (Channel, <-chan *Request, error)
}
```

Proposed API for the client side part:

// ChannelWithPayload is a Channel that allows to retrieve the type specific
// data received in SSH_MSG_CHANNEL_OPEN_CONFIRMATION.
type ChannelWithPayload interface {
	Channel

	// Payload returns the channel type specific data received in
	// SSH_MSG_CHANNEL_OPEN_CONFIRMATION.
	Payload() []byte
}

for the client side part we can also evaluate an interface extension for [Conn](https://github.com/golang/crypto/blob/eb61739cd99fb244c7cd188d3c5bae54824e781d/ssh/connection.go#L50) to add something like this:

```
OpenChannelPayload(name string, data []byte) (Channel, <-chan *Request, []byte, error)
``` 

this way the payload is returned directly after opening the channel without the need to call the `Payload()` method on the channel as proposed above. 
I prefer the first option because I'm not a big fan of methods that return multiple values, but that's just a personal preference.

Thank you!

cc @golang/proposal-review 




Change https://go.dev/cl/543055 mentions this issue: `ssh: allow to send type specific data when accepting a channel`


This proposal has been added to the [active column](https://go.dev/s/proposal-status#active) of the proposals project
and will now be reviewed at the weekly proposal review meetings.
— rsc for the proposal review group



Based on the discussion above, this proposal seems like a **[likely accept](https://go.dev/s/proposal-status#likely-accept)**.
— rsc for the proposal review group


Proposal details in https://github.com/golang/go/issues/64211#issue-1997411469



No change in consensus, so **[accepted](https://go.dev/s/proposal-status#accepted)**. 🎉
This issue now tracks the work of implementing the proposal.
— rsc for the proposal review group


Proposal details in https://github.com/golang/go/issues/64211#issue-1997411469
