crypto/tls: implement strict TLS 1.3 downgrade protections

RFC 8446, Section 4.1.3 mandates strict downgrade checks in TLS 1.3. crypto/tls currently sends the downgrade canaries but doesn't check them, because the ecosystem had some off-spec implementations that had to be flushed out.

We should switch the detection on for Go 1.15, on a similar schedule as Chrome. https://groups.google.com/a/chromium.org/d/msg/blink-dev/CK0Xxdz-4Mg/KIOaBAXmBQAJ

This is arguably a risky change, so it should be flagged appropriately.

Just throwing ideas, but IMHO that change should be around a flag of sorts in case someone's server has to deal with broken clients.

Change https://golang.org/cl/231038 mentions this issue: `crypto/tls: enforce TLS 1.3 (and TLS 1.2) downgrade protection checks`