crypto/x509: Certificate Name Constraints starting with "." not validated properly

1. What version of Go are you using (`go version`)?
`go1.6.2`

2. What operating system and processor architecture are you using (`go env`)?
`darwin/amd64`

3. What did you do?
A certificate with domain `test.example.com` is validated with an intermediate certificate having a name constraint of `.example.com`.

4. What did you expect to see?
The certificate chain should be valid. A name constraint `.example.com` should allow all subdomains of example.com, but not the domain itself (according to the [RFC](https://tools.ietf.org/html/rfc5280#section-4.2.1.10)).

5. What did you see instead?
The certificate chain is not considered valid (`x509: a root or intermediate certificate is not authorized to sign in this domain`), while `test..example.com` works.
The problem is the check at https://github.com/golang/go/blob/master/src/crypto/x509/verify.go#L172, that enforces a `.` as the last character of the domain prefix (that's why `test..example.com` is considered valid).



/cc @agl 

This looks like an off-by-one in [`crypto/x509/verify.go`](https://github.com/golang/go/blob/10538a8f9e2e718a47633ac5a6e90415a2c3f5f1/src/crypto/x509/verify.go#L172):

```go
			if opts.DNSName == domain ||
				(strings.HasSuffix(opts.DNSName, domain) &&
					len(opts.DNSName) >= 1+len(domain) &&
					opts.DNSName[len(opts.DNSName)-len(domain)-1] == '.') {
				ok = true
```

I've prepared a fix: https://github.com/JonathonReinhart/go/commit/ca0494a616d358193e8817c01ae732a33e08d9a7

@JonathonReinhart: Your fix would disallow subdomains for rules without a leading dot. The proper check should be the existing + the leading dot case:
```go
            if opts.DNSName == domain ||
                (strings.HasSuffix(opts.DNSName, domain) &&
                    len(opts.DNSName) >= 1+len(domain) &&
                    opts.DNSName[len(opts.DNSName)-len(domain)-1] == '.') ||
                (domain[0] == '.' && strings.HasSuffix(opts.DNSName, domain) {
                ok = true
```

Interesting - there appears to be a disconnect between the RFC and many examples of x509 Name Constraints (for DNS names).

I was mistakenly looking at (and quoting) the following paragraph from [section 4.2.1.10 of RFC 5280](https://tools.ietf.org/html/rfc5280#section-4.2.1.10) which says:

>    For URIs, the constraint applies to the host part of the name.  The
   constraint MUST be specified as a fully qualified domain name and MAY
   specify a host or a domain.  Examples would be "host.example.com" and
   ".example.com".  When the constraint begins with a period, it MAY be
   expanded with one or more labels.  That is, the constraint
   ".example.com" is satisfied by both host.example.com and
   my.host.example.com.  However, the constraint ".example.com" is not
   satisfied by "example.com".  When the constraint does not begin with
   a period, it specifies a host.

However, this applies *to URIs*.  My CA certificate (and essentially all others using Name Constraints) looks like this:

```
            X509v3 Name Constraints: critical
                Permitted:
                  DNS:..example.com
```

Because this is a *DNS Name* (and not a URI), that paragraph does not apply. Instead, the following paragraph does:

>    DNS name restrictions are expressed as host.example.com.  Any DNS
   name that can be constructed by simply adding zero or more labels to
   the left-hand side of the name satisfies the name constraint.  For
   example, www.host.example.com would satisfy the constraint but
   host1.example.com would not.

Interestingly, this never says anything about a leading period. I interpreted a leading period to mean valid certificates MUST have at least one additional leading label. (e.g. the name `example.com` does not satisfy the constraint `.example.com`). The RFC appears to leave the behavior associated with a leading period on a DNS name constraint **undefined**.

Here are examples that include a leading period:
- [Constraints: what they are and how they’re used](https://blogs.technet.microsoft.com/pki/2014/03/05/constraints-what-they-are-and-how-theyre-used/) (Windows PKI Blog)
- [Using Name Constraints](https://technet.microsoft.com/en-us/library/cc757755.aspx) (Technet)
- [CAs, Name Constraints, and a Business Opportunity](http://karl.kornel.us/2014/09/cas-name-constraints-and-a-business-opportunity/) (karl.kornel.us blog)
- [Hellenic Academic and Research Institutions Cert. Authority 2011](http://www.harica.gr/trust_generic.php) (An actual CA cert, trusted by Mozilla, Microsoft, and Apple)

Other examples that don't specify:
- [Name Constraints in x509 Certificates](https://timothy-quinn.com/name-constraints-in-x509-certificates/) 
- [x509v3_config](https://www.openssl.org/docs/manmaster/apps/x509v3_config.html) (OpenSSL docs)

Finally (after hours of digging), an example that never uses a dot, and explicitly implies that `DNS:bad.com` means `*.bad.com`:
- [`test/certs/setup.sh`](https://github.com/openssl/openssl/blob/ba1a1c3783bec68830da3a375b581afc73226ff4/test/certs/setup.sh#L212) (OpenSSL test suite)

Relevant OpenSSL source (which I'm still digging through):
- [`check_name_constraints()`](https://github.com/openssl/openssl/blob/ba1a1c3783bec68830da3a375b581afc73226ff4/crypto/x509/x509_vfy.c#L557)
- [`crypto/x509v3/v3_ncons.c`](https://github.com/openssl/openssl/blob/ba1a1c3783bec68830da3a375b581afc73226ff4/crypto/x509v3/v3_ncons.c)

Interesting: The code I've shown above is from the current OpenSSL `master` branch. `nc_dns()` was changed via https://github.com/openssl/openssl/commit/77ff1f3b8bfaa348956c5096a2b829f2e767b4f1, after bug report [RT3562](https://rt.openssl.org/Ticket/Display.html?id=3562) (the 3662 cited in the commit is a typo). That change allowed leading dots in DNS name constraints, even though the RFC doesn't specifically allow it.

So @floridoo I'm essentially in agreement with you now. My previous understanding, that the dot must be present for a subdomain match, was incorrect.

`crypto/x509` should do the same thing OpenSSL did, and allow the dots to be present, but not required.  I think https://github.com/golang/go/issues/16347#issuecomment-235190507 is quite messy, and this conditional is too complex to be one expression. The way OpenSSL does it looks much cleaner, IMO.

Relevant code in NSS: https://github.com/racktopsystems/nss/blob/master/lib/certdb/genname.c#L1203

Please let me know what you think of https://go-review.googlesource.com/30155.

CL https://golang.org/cl/30155 mentions this issue.

[30155](https://go-review.googlesource.com/30155) looks good to me.