net/http: ServeMux routes `[hostname]:port` to `hostname`

`ServeMux` will route a request with a host of `[hostname]:port` to the host `hostname`:

```go
// register handler for example.com
var mux http.ServeMux
mux.Handle("GET example.com/", handler)

// request for [example.com]:80 returns the above handler
req, _ := http.NewRequest("GET", "http://[example.com]:80/", nil)
h, pattern := mux.Handler(req)
```

This is arguably wrong, since "[example.com]:80" is not a valid host; the bracketed form should only be used for IPv6 addresses.

Whether this is the fault of ServeMux for misinterpreting the invalid host or the HTTP server for accepting it is debatable.

This was reported to us as a potential vulnerability, on the grounds that an intermediary proxy could (for example) reject requests to "example.com" but permit "[example.com]:80" through. Our consensus is that the threat model under which this causes problems is dubious, and that we should not classify this as a vulnerability. Perhaps we should change the behavior of the server and/or ServeMux, but this will be hardening and/or a bugfix. As a practical consideration, changing this behavior runs a high risk of breaking existing users, and is not something we want to backport to earlier releases.

**Related Issues**

 - [net/http: Host headers with ports never match routes in ServeMux #10463 (closed)](https://github.com/golang/go/issues/10463) <!-- score=0.87586 -->
 - [net/http: document and test behavior of ServeMux with ports #23351 (closed)](https://github.com/golang/go/issues/23351) <!-- score=0.85271 -->
 - [net/http: server does not validate structural validity of IP-literal Host headers per RFC 3986 §3.2.2 #78172 (closed)](https://github.com/golang/go/issues/78172) <!-- score=0.83297 -->
 - [http: HandleFunc should ignore port #3159 (closed)](https://github.com/golang/go/issues/3159) <!-- score=0.82125 -->

**Related Discussions**

 - [IPv6 address and http.ServeMux](https://groups.google.com/g/golang-nuts/c/sdshdRKtd_M) <!-- score=0.82360 -->

<sub>(Emoji vote if this was helpful or unhelpful; more detailed feedback welcome in [this discussion](https://github.com/golang/go/discussions/67901).)</sub>


This issue has been addressed by PR #78949: https://github.com/golang/go/pull/78949

Change https://go.dev/cl/770620 mentions this issue: `net/http: fix ServeMux routing of [hostname]:port`

cc @neild @nicholashusin