net/smtp: harden against `STARTTLS` case-sensitivity downgrade

RFC 5321 Section 4.1.1.1 MUST (uppercase per RFC 8174) compare EHLO keywords case-insensitively:

> Although EHLO keywords may be specified in upper, lower, or mixed
   case, they MUST always be recognized and processed in a case-
   insensitive manner.  This is simply an extension of practices
   specified in [RFC 821](https://datatracker.ietf.org/doc/html/rfc821) and [Section 2.4](https://datatracker.ietf.org/doc/html/rfc5321#section-2.4).


Hardening should be simple as using `strings.ToUpper()` in https://go.dev/cs/go/+/master:src/net/smtp/smtp.go;l=142?q=smtp.go:142

Though sibling call-sites should likely be similarly hardened with additional testing.

Change https://go.dev/cl/770001 mentions this issue: `net/smtp: parse EHLO extensions case-insensitively`

Change https://go.dev/cl/791600 mentions this issue: `net/smtp: parse EHLO extension keywords case-insensitively`

Change https://go.dev/cl/812160 mentions this issue: `net/smtp: parse EHLO extension keywords case-insensitively`