encoding/csv: Feature request: Specify record delimiter

It would be great to be able to specify a record delimiter for a csv.Reader. For me, I need to parse CSVs with Mac OS 9 line termination (\r only).

(I'm using Go 1.5 on Mac OS 10.10.5.)

you can wrapper the io.Reader with another that translate \r to \n.


That's fair. Thing is, I could also wrap a TSV with a reader that converts tabs to commas, but csv.Reader.Comma exists all the same. Because .Comma exists, I figured the design goal of csv.Reader was probably convenience rather than strict RFC compliance, hence my suggestion.

Converting tabs to commas is a little harder, because you have to handle
quoting,
but converting \r to \n doesn't.


Actually, I think you do have to handle quoting for newlines in the same way - see [RFC 4180 section 2.6](https://tools.ietf.org/html/rfc4180#page-3). Commas, newlines, and double quotes can all exist within double quoted-fields.

If I had it to do over I would remove Comma. Old mistakes aren't justification for new ones.

If a global \r => \n conversion isn't appropriate, it's certainly easy to make a copy of encoding/csv and adjust it for your purposes. I don't believe this problem is widespread enough to justify more complexity in this already complex package.

Thanks.

CL https://golang.org/cl/23401 mentions this issue.