compress/gzip: Reader incorrectly performs FHCRC check

Using `go1.6`

[Example code](https://play.golang.org/p/zrIWo7axXG):
```go
b, _ := hex.DecodeString("" +
	"1f8b081200096e8800ff48656c6c6f00" + // GZIP header
	"99d6" + // header.FHCRC (should cover entire header)
	"010000ffff0000000000000000", // GZIP data
)

r, err := gzip.NewReader(bytes.NewReader(b))
if err != nil {
	panic(err)
}
_ = r
```
This currently errors with `gzip.ErrHeader`, but should in fact create a gzip.Reader without issue.

Currently, Go only performs the CRC over the first 10 bytes of the header. However, RFC 1952, section 3.2.3 says:
> If FHCRC is set, a CRC16 for the gzip header is present, immediately before the compressed data. The CRC16 consists of the two least significant bytes of the CRC32 for **all bytes of the gzip header** up to and not including the CRC16.

Instead, we should compute the CRC over the whole header.





CL https://golang.org/cl/21466 mentions this issue.