net/http: Server doesn't send a 501 (Not implemented) on unknown Transfer-Encodings

Our net/http server implementation doesn't return a 501 (Not implemented) for unknown transfer-encodings.

I just noticed this issue while working on the CL for #29162. RFC 7230 Section 3.3.1 https://tools.ietf.org/html/rfc7230#section-3.3.1 says
*"   A server that receives a request message with a transfer coding it
   does not understand SHOULD respond with 501 (Not Implemented)."*
<img width="629" alt="Screen Shot 2019-03-09 at 9 01 20 PM" src="https://user-images.githubusercontent.com/4898263/54080876-8be08280-42ae-11e9-95b7-12a813954d53.png">

and I can verify this with https://play.golang.org/p/ybUoNsIZEWw or inlined below
```go
package main

import (
	"bufio"
	"bytes"
	"compress/gzip"
	"fmt"
	"log"
	"net"
	"net/http"
	"net/http/httptest"
	"net/http/httputil"
	"net/url"
)

func main() {
	log.SetFlags(0)
	cst := httptest.NewServer(http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		w.Write([]byte("Aloha, World1"))
	}))
	defer cst.Close()

	ux, err := url.Parse(cst.URL)
	if err != nil {
		log.Fatalf("Failed to parse server URL: %v", err)
	}

	buf := new(bytes.Buffer)
	gzw := gzip.NewWriter(buf)
	n, _ := gzw.Write([]byte("This is that"))
	gzw.Close()

	reqPayloads := []string{
		fmt.Sprintf("POST / HTTP/1.1\r\nHost: localhost\r\nTransfer-Encoding: chunked\r\n\r\n%02x\r\n%s\r\n0\r\n\r\n", n, buf.String()),

		// The unknown transfer-encoding.
		fmt.Sprintf("POST / HTTP/1.1\r\nHost: localhost\r\nTransfer-Encoding: fugazi, chunked\r\n\r\n%02x\r\n%s\r\n0\r\n\r\n", n, buf.String()),
	}

	for _, reqBody := range reqPayloads {
		resBlob, err := makeReq(ux.Host, []byte(reqBody))
		log.Printf("******\nResBlob:\n%s\nErr: %v\n*****\n\n", resBlob, err)
	}
}

func makeReq(host string, reqBody []byte) ([]byte, error) {
	conn, err := net.Dial("tcp", host)
	if err != nil {
		return nil, err
	}
	defer conn.Close()
	if _, err := conn.Write(reqBody); err != nil {
		return nil, err
	}

	brRes := bufio.NewReader(conn)
	res, err := http.ReadResponse(brRes, nil)
	if err != nil {
		return nil, err
	}
	return httputil.DumpResponse(res, true)
}
```

which prints
```shell
******
ResBlob:
HTTP/1.1 200 OK
Connection: close
Content-Length: 13
Content-Type: text/plain; charset=utf-8
Date: Tue, 10 Nov 2009 23:00:00 GMT

Aloha, World1
Err: <nil>
*****

******
ResBlob:
HTTP/1.1 400 Bad Request
Connection: close
Content-Type: text/plain; charset=utf-8

400 Bad Request
Err: <nil>
*****
```

but the last should ideally be
```shell
******
ResBlob:
HTTP/1.1 501 Not Implemented
Connection: close
Content-Type: text/plain; charset=utf-8

501 Not Implemented
Err: <nil>
*****
```

/cc @bradfitz 

Change https://golang.org/cl/167017 mentions this issue: `net/http: spec compliance for unsupported transfer-encodings`